<%= form_for(@task) do |f| %>
<!-- f binds the form to the model -->
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control' %>
  </div>

  <!-- new_record?()
  Returns true if this object hasn't been saved yet (a record for the object
  doesn't exist in the database yet) otherwise, returns false. -->
  <% unless f.object.new_record? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :completed %> Completed
      </label>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
